@import '../../Base/_global';

.checkbox, .radio-button {
    display: inline-grid;
    grid-template-columns: repeat(2, auto);
    align-items: flex-start;
    justify-content: flex-start;
    grid-column-gap: $gap--m;

    input[type="radio"], input[type="checkbox"] {
        width: $gap--l;
        height: $gap--l;
        @include border;
        margin: .2rem 0 0 0;

        &[disabled], &[disabled] + * {
            cursor: not-allowed;
        }
    }

    > label, > span {
        text-align: left;
    }
}
