@import '../../Base/_global';

textarea, .textarea {
    max-height: 50rem;
    -webkit-appearance: none;
    resize: vertical
}

.text-box {
    &__password-container {
        display: grid;
        grid-template-columns: auto $gap--xxl;
        align-items: stretch;
        border-radius: $border-radius;
        @include border;

        &:focus-within {
            outline: -webkit-focus-ring-color auto $border-width;
        }

        .text-box {
            border-width: 0;

            &:focus {
                outline: none;
            }
        }
    }
}

.text-box, .combo-box {
    padding: $gap--s $gap--m;
    border-radius: $border-radius;
    font-family: $font-text;
    font-size: medium;
    color: $color-black;
    -webkit-appearance: none;
    font-style: normal;
    @include border;
}

textarea.text-box {
    max-height: $width-mobile-s;
}
