@import '../../Base/_global';

.link {
    --color-link: #{$color-primary};

    &:hover {
        --color-link: #{$color-primary--hover};
    }

    &--white {
        --color-link: #{$color-white};

        &:hover {
            --color-link: #{$color-white};
        }
    }

    &--black {
        --color-link: #{$color-black};

        &:hover {
            --color-link: #{$color-black};
        }
    }

    &--copy {
        --color-link: #{$color-secondary};

        &:hover {
            --color-link: #{$color-secondary};
        }
    }
}

.link {
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    font-family: $font-text;
    font-size: medium;
    color: var(--color-link);
    text-decoration: underline;
    transition: color $trans-time var(--anim-type);

    > .icon {
        margin-right: $gap--s;
        transition: fill $trans-time var(--anim-type);
        fill: var(--color-link);
    }

    &--right > .icon {
        margin-right: 0;
        margin-left: $gap--s;
    }
}
