$color-white: hsl(0 0% 100%);
$color-black: hsl(0 0% 0%);
$color-transparent: hsl(0 0% 0% / 0%);
$color-primary: hsl(41 57% 55%);
$color-primary--hover: hsl(41 57% 45%);
$color-secondary: hsl(0 0% 12%);
$color-secondary--hover: hsl(0 0% 17%);
$color-secondary--bg: hsl(0 0% 17% / 90%);
$color-secondary--trans: hsl(0 0% 70% / 50%);
$color-secondary--focus: lighten($color-secondary, 33%);
$color-shadow: hsl(0 0% 0% / 15%);
$color-waze: hsl(194.71 99.03% 59.61%);
$color-contact_bg: hsla(0 0% 100% / 10%);
$color-contact_border-color: hsla(0 0% 0% / 10%);
$color-contact_shadow-color: hsla(0 0% 0% / 40%);
$color-nav_bg: hsl(0 0% 7%);
$color-nenu_bg: hsl(0 0% 7% / .95);

@mixin generate-colors {
  --color-white: #{$color-white};
  --color-black: #{$color-black};
  --color-transparent: #{$color-transparent};
  --color-primary: #{$color-primary};
  --color-primary--hover: #{$color-primary--hover};
  --color-secondary: #{$color-secondary};
  --color-secondary--hover: #{$color-secondary--hover};
  --color-secondary--focus: #{$color-secondary--focus};
  --color-secondary--bg: #{$color-secondary--bg};
  --color-secondary--transr: #{$color-secondary--trans};
  --color-shadow: #{$color-shadow};
}