@use "../base/functions/index" as *;
@use "../base/mixins/index" as *;
@use "../base/variables/index" as *;

@mixin create-burger {
    .burger {
        position: relative;
        display: var(--burger_display, none);
        inline-size: 2.5rem;
        aspect-ratio: 4 / 3;
        background-color: var(--color-transparent);
        border-color: var(--color-transparent);
        cursor: pointer;

        @include mq-responsive("tablet", max) {
            --burger_display: block;
        }

        >span {
            @include border-radius(full);
            position: absolute;
            top: 50%;
            left: 50%;
            display: block;
            inline-size: 100%;
            block-size: var(--gap-xs);
            background-color: var(--nav_color);
            opacity: var(--opacity, 1);
            translate: var(--trans-x, -50%) var(--trans-y, -50%);
            scale: var(--scale, 1);
            rotate: var(--rotate, 0);
            transition: translate $trans-time ease-in-out, rotate $trans-time ease-in-out, scale $trans-time ease-in-out,
                opacity $trans-time ease-in-out;

            &:nth-child(1) {
                --trans-y: #{calc(num-neg(.6rem) - 100%)};
            }

            &:nth-child(3) {
                --trans-y: .6rem;
            }
        }

        &--open>span {
            &:nth-child(1) {
                --trans-y: -50%;
                --rotate: 45deg;
            }

            &:nth-child(2) {
                --scale: 0;
                --opacity: 0;
            }

            &:nth-child(3) {
                --trans-y: -50%;
                --rotate: -45deg;
            }
        }
    }
}