@use '../base/mixins/index' as *;
@use '../base/variables/index' as *;

@mixin create-link{
    .link{
        --link_color: #{$color-primary};
        font-size: 1em;
        color: var(--link_color);
        transition: color .1s ease-in-out;
    
        @include mq-hover{
            --link_color: #{$color-primary--hover};
        }
    }
}