@use '../base/mixins/index' as *;
@use '../base/variables/index' as *;

@mixin create-nav {
    nav {
        @include flex-set(flex, row, nowrap, var(--gap-3l), center, stretch);
        position: fixed;
        inset: 0 0 auto 0;
        inline-size: 100%;
        block-size: var(--nav-height);
        background-color: $color-secondary;
        z-index: 9999;

        >ul {
            @include flex-set(flex, row, nowrap, var(--gap-3xl), center, flex-end);
            padding: 0;
            margin: 0;
            list-style: none;

            a {
                font-family: var(--font-text);
                font-weight: 300;
                color: var(--nav-link_color, var(--color-white));
                text-decoration: var(--nav-item_text-decor, none);;
                text-transform: uppercase;

                @include mq-hover {
                    --nav-item_text-decor: underline;
                }
            }
        }
    }
}