@use "../base/functions/index" as *;
@use "../base/mixins/index" as *;
@use "../base/variables/index" as *;

@mixin create-select {
    .select {
        @include flex-set(inline-flex, column, nowrap, $gap-xs);
        margin-inline: auto;
        font-family: $font-title;
        font-size: 16px;
        text-transform: uppercase;

        &__autocomplete {
            @include flex-set(inline-flex, row, nowrap, 0, center, center, center);
            position: relative;
        }

        input {
            @include padding-set-x($gap-m);
            @include padding-set-y($gap-m);
            @include border-radius(m);
            @include border-set-all($border-width-l, solid, var(--autocomplete_border-color, var(--_table_border-color)));
            inline-size: calc($width-mobile-s - $gap-xl);
            font-family: $font-text;
            font-size: 16px;
            text-transform: initial;
            color: var(--_text-color);
            background-color: var(--_bg-color);

            &:is(:focus, :focus-visible) {
                --autocomplete_border-color: #{$color-primary};
            }
        }

        button {
            --icon-scale: 1;
            position: absolute;
            top: 50%;
            left: calc(100% + $gap-s);
            display: none;
            translate: 0 -50%;

            @include mq-hover {
                --icon-scale: 1.05;
            }

            .icon {
                --icon-size: 1.2rem;
                scale: var(--icon-scale);
                transition: scale $trans-time $trans-fnc;
            }
        }
    }
}