@import "../base/global";

.alert {
    --alert-close-width: #{$gap--xxl};
    --alert-color: #{$color-primary};
    --alert-bg-color: #{$color-white};
    --alert-padding: #{$gap--m} #{$gap--xl};
    --alert-message-font-size: medium;
    position: fixed;
    top: var(--nav-height);
    right: 0;
    left: 0;
    display: grid;
    grid-template-columns: auto var(--alert-close-width);
    padding: var(--alert-padding);
    background-color: var(--alert-bg-color);
    color: $color-black;
    z-index: 99999;
    grid-column-gap: $gap--l;
    @include set-box-shadw(.3);
    @include border('def', $border-width, var(--alert-color));

    @include res-max-tablet {
        --alert-message-font-stze: small;
        --alert-padding: #{$gap--m} #{$gap--l};
    }

    &--info {
        --alert-color: #{$color-info};
        --alert-bg-color: #{$color-info--bg};
    }

    &--success {
        --alert-color: #{$color-success};
        --alert-bg-color: #{$color-success--bg};
    }

    &--warning {
        --alert-color: #{$color-warning};
        --alert-bg-color: #{$color-warning--bg};
    }

    &--danger {
        --alert-color: #{$color-danger};
        --alert-bg-color: #{$color-danger--bg};
    }

    &__message {
        margin: 0;
        font-size: var(--alert-message-font-size);
        color: var(--alert-color);
    }

    &__close {
        --shadow-alpha: .15;
        background-color: var(--alert-color);
        border-width: 0;
        border-radius: $border-radius;
        transition: box-shadow $trans-time var(--anim-type);
        cursor: pointer;
        @include set-button-box-shadw(var(--shadow-alpha));

        &:hover {
            --shadow-alpha: .3;
        }

        > .icon {
            margin: 0 auto;
            fill: $color-white;
        }
    }
}
