@use '../base/mixins/index' as *;
@use '../base/variables/index' as *;

@mixin create-button {

    .button {
        --shadow-alpha: .3;
        --button-min-width: 18rem;
        --button-border-width: .2rem;
        --button-background: lime;
        --button-color: #{$color-white};
        --button-border-color: #{$color-primary};
        --button-padding: #{$gap-l $gap-xl};
        --button-font-size: large;
        --button-cursor: pointer;
        --button-outline: none;

        &[disabled] {
            --shadow-alpha: 0;
            --button-color: #{$color-black};
            --button-border-color: red;
            --button-background: red;
            --button-cursor: not-allowed;

            &:hover {
                --shadow-alpha: 0;
            }
        }

        &--secondary {
            --button-color: #{$color-white};
            --button-border-color: #{$color-secondary};
            --button-background: #{$color-secondary};
        }
    }

    .button {
        display: inline-flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        width: auto;
        min-width: var(--button-min-width);
        gap: $gap-m;
        padding: var(--button-padding);
        background-color: var(--button-background);
        border-radius: 100vmax;
        font-family: var(--font-title);
        font-size: var(--button-font-size);
        color: var(--button-color);
        text-align: center;
        text-decoration: none;
        text-decoration: none;
        text-transform: uppercase;
        transition: background-color $trans-time var(--anim-type);
        cursor: var(--button-cursor);

        &:focus:not(:focus-visible) {
            outline: var(--button-outline);
        }

        @media (hover:hover) {
            &:hover {
                --button-background: #{$color-primary};
            }
        }

        &[disabled] {
            &:focus {
                outline: var(--button-outline);
            }
        }

        >span,
        >* {
            font-family: inherit;
        }

        >.icon {
            --icon-size: 2rem;
            fill: var(--button-color);
        }
    }
}