//colors
$color-black: hsla(0, 0%, 0%, 1);
$color-white: hsla(0, 0%, 100%, 1);
$color-trans: hsla(0, 0%, 0%, 0);
$color-primary: hsla(108, 43%, 58%, 1);
$color-primary--hover: hsla(108, 43%, 43%, 1);
$color-secondary: hsla(120, 2%, 17%, 1);
$color-disabled: hsla(0, 0%, 90%, 1);
$color-border: hsla(0, 0%, 70%, 1);
$color-font: $color-black;
$color-overlay: hsla(0, 0%, 0%, .5);
$color-error: hsla(0, 72%, 40%, 1);

//alert
$color-success: $color-primary--hover;
$color-success--bg: hsla(108, 43%, 90%, 1);
$color-info: hsla(211, 100%, 60%, 1);
$color-info--bg: hsla(211, 100%, 90%, 1);
$color-warning: hsla(45, 100%, 45%, 1);
$color-warning--bg: hsla(45, 100%, 90%, 1);
$color-danger: $color-error;
$color-danger--bg: hsla(0, 72%, 90%, 1);

//gaps
$gap--m: .8rem;
$gap--xs: (
    $gap--m / 4
);
$gap--s: (
    $gap--m / 2
);
$gap--l: (
    $gap--m * 2
);
$gap--xl: (
    $gap--m * 3
);
$gap--xxl: (
    $gap--m * 4
);

//Font family
$font-text: azo-sans-web, sans-serif;
$font-title: museo-sans, sans-serif;

//Others
$trans-time: .25s;
$animate-all: all $trans-time ease-in-out;
$border-width: .1rem;
$border-radius: $gap--s;

// All devices width for MediaQuery
$width-mobile-s: 320px;
$width-mobile-m: 375px;
$width-mobile-l: 425px;
$width-tablet: 768px;
$width-laptop-s: 1024px;
$width-laptop-m: 1360px;
$width-laptop-l: 1440px;
$width-laptop-xl: 1920px;
$width-4k: 2560px;