@import "../Base/global";

h1 {
    margin-bottom: $gap--xl;
    font-size: xx-large;
}

h2 {
    margin-bottom: $gap--l;
    font-size: x-large;
}

h3 {
    font-size: large;
}

h4 {
    font-size: medium;
}

h5 {
    font-size: small;
}

h6 {
    font-size: x-small;
}

span, a {
    font-family: $font-text;
    font-size: medium;

    @include res-max-mobile-l {
        font-size: small;
    }
}

p {
    font-family: $font-text;
    font-size: medium;
}

small {
    font-family: $font-text;
    font-size: x-small;
}

.title {
    --title-margin-botton: #{$gap--xxl};
    --title-font-size: xx-large;
    --title-color: #{$color-black};
    margin-top: 0;
    margin-bottom: var(--title-margin-botton);
    font-family: $font-title;
    font-size: var(--title-font-size);
    font-weight: 400;
    color: var(--title-color);
    text-align: left;

    @include res-max-tablet {
        --title-margin-botton: #{$gap--xl};
        --title-font-size: x-large;
    }

    @include res-max-mobile-l {
        --title-margin-botton: #{$gap--l};
    }

    > span, > strong {
        font-family: $font-title;
        font-size: 1em;
        font-weight: 400;
        color: var(--title-color);
    }

    &--medium {
        --title-font-size: x-large;

        @include res-max-tablet {
            --title-font-size: large;
        }
    }

    &--small {
        --title-font-size: large;
        --title-margin-botton: #{$gap--l};
    }

    &--small-mg {
        --title-margin-botton: #{$gap--l};
    }

    &--white {
        --title-color: #{$color-white};
    }

    &--center {
        text-align: center;
    }
}


.desc {
    --desc-font-size: large;
    --desc-margin-bottom: 4.8rem;
    --desc-color: #{$color-black};
    margin: 0;
    margin-bottom: var(--desc-margin-bottom);
    font-family: $font-text;
    font-size: var(--desc-font-size);
    line-height: 1.5;
    color: var(--desc-color);

    @include res-max-laptop-s {
        --desc-margin-bottom: #{$gap--xxl};
    }

    @include res-max-tablet {
        --desc-margin-bottom: #{$gap--xl};
    }

    @include res-max-mobile-l {
        --desc-margin-bottom: #{$gap--l};
        --desc-font-size: medium;
    }

    &--white {
        --desc-color: #{$color-white};
    }

    &--small {
        --desc-font-size: medium;

        @include res-max-mobile-l {
            --desc-font-size: small;
        }
    }

    &--small-mg {
        --desc-margin-bottom: #{$gap--xxl};

        @include res-max-laptop-s {
            --desc-margin-bottom: #{$gap--l};
        }
    }

    &--small-mg {
        --desc-margin-bottom: #{$gap--xl};
    }

    &--center {
        text-align: center;
    }
}
