@use '../base/variables/colors' as *;
@use '../base/variables/fonts' as *;
@use '../base/variables/sizes' as *;

@mixin reset {

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    html {
        scroll-behavior: smooth;
    }

    body {
        min-block-size: 100dvh;
        max-block-size: 100dvh;
        margin: 0;
        background-color: var(--_bg-color);
        transition: color $trans-time $trans-fnc, background-color $trans-time $trans-fnc;
        transition-delay: 0;
        overflow-x: hidden;

        &.start {
            overflow: hidden;
        }

        h1, h2, h3, p, span, summary, div{
            transition: color $trans-time $trans-fnc, background-color $trans-time $trans-fnc;
            transition-delay: 0;
          }
    }

    textarea {
        font-family: inherit;
        resize: vertical;
    }

    address {
        font-family: $font-text;
        font-weight: 300;
        font-style: normal;
        margin
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: $font-title;
    }

    p {
        font-family: $font-text;
        font-size: clamp(1rem, 2.5dvb, $gap-l);
    }

    @keyframes body-overflow {
        to {
            max-block-size: unset;
            overflow-y: auto;
        }
    }

    summary::marker {
        display: none !important;
    }

    details summary:is([open])::-webkit-details-marker {
        display: none !important;
    }

    details summary:not([open])::-webkit-details-marker {
        display: none !important;
    }

    details summary::-moz-list-bullet {
        list-style-type: none;
    }

    
}