@mixin reset {

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    html {
        scroll-behavior: smooth;
    }

    body {
        min-block-size: 100dvh;
        max-block-size: 100dvh;
        margin: 0;
        // animation: body-overflow 0s forwards 3s;
        overflow-x: hidden;
        // overflow-y: hidden;
    }

    textarea {
        font-family: inherit;
        resize: vertical;
    }

    address {
        font-style: normal;
    }

    @keyframes body-overflow {
        to {
            max-block-size: unset;
            overflow-y: auto;
        }
    }
}