@use '../base/variables/index' as *;

@mixin set-theme {
  body {
    --_bg-color: var(--color-white);
    --_title-color: var(--color-secondary);
    --_title-color_secondary: var(--color-white);
    --_title-outline-color: var(--color-secondary);
    --_text-color: var(--color-secondary);
    --_qna-circle_bg: var(--color-white);
    --_qna-circle_color: var(--color-secondary);
    --_qna-line_color: var(--color-secondary);
    --_qna_image-filter: invert(0%);
    --_chair_bg-color: var(--color-secondary);
    --_table_border-color: var(--color-secondary);
    --_plan-nav_bg-color: var(--color-white--trans);
    --_qna_image-filter: invert(0);
    --_form-filter: invert(0);
    --_close-buton-filter: invert(100%);

    &.dark-theme {
      --_bg-color: var(--color-secondary);
      --_title-color: var(--color-white);
      --_title-color_secondary: var(--color-secondary);
      --_title-outline-color: var(--color-white);
      --_text-color: var(--color-white);
      --_qna-circle_bg: var(--color-secondary);
      --_qna-circle_color: var(--color-white);
      --_qna-line_color: var(--color-secondary--hover);
      --_qna_image-filter: invert(100%);
      --_chair_bg-color: var(--color-secondary--hover);
      --_table_border-color: var(--color-secondary--hover);
      --_plan-nav_bg-color: var(--color-secondary--trans);
      --_qna_image-filter: invert(1);
      --_form-filter: invert(1);
      --_close-buton-filter: none;
    }
  }

  @media (prefers-color-scheme: dark) {
    /* defaults to dark theme */
    body {
      --_bg-color: var(--color-secondary);
      --_title-color: var(--color-white);
      --_title-color_secondary: var(--color-secondary);
      --_title-outline-color: var(--color-white);
      --_text-color: var(--color-white);
      --_qna-circle_bg: var(--color-secondary);
      --_qna-circle_color: var(--color-white);
      --_qna-line_color: var(--color-secondary--hover);
      --_qna_image-filter: invert(100%);
      --_chair_bg-color: var(--color-secondary--hover);
      --_table_border-color: var(--color-secondary--hover);
      --_plan-nav_bg-color: var(--color-secondary--trans);
      --_qna_image-filter: invert(1);
      --_form-filter: invert(1);
      --_close-buton-filter: none;

      &.light-theme {
        --_bg-color: var(--color-white);
        --_title-color: var(--color-secondary);
        --_title-color_secondary: var(--color-white);
        --_title-outline-color: var(--color-secondary);
        --_text-color: var(--color-secondary);
        --_qna-circle_bg: var(--color-white);
        --_qna-circle_color: var(--color-secondary);
        --_qna-line_color: var(--color-secondary);
        --_qna_image-filter: invert(0%);
        --_chair_bg-color: var(--color-secondary);
        --_table_border-color: var(--color-secondary);
        --_plan-nav_bg-color: var(--color-white--trans);
        --_qna_image-filter: invert(0);
        --_form-filter: invert(0);
        --_close-buton-filter: invert(100%);
      }
    }
  }
}