@import "../base/global";

.form {
    --col-count: 1;
    --label-color: #{$color-black};
    --gap: #{$gap--xxl};
    --form-width: 35rem;
    display: grid;
    grid-template-columns: repeat(var(--col-count), 1fr);
    width: 100%;
    max-width: var(--form-width);
    margin: 0 auto;
    grid-column-gap: var(--gap);
    grid-row-gap: var(--gap);

    &--col-2 {
        --form-width: #{$width-tablet};
        --col-count: 2;
    }

    &--full-width {
        --form-width: none;
    }

    &__container {
        --col-count: 1;
        --content-padding: #{$gap--xxl};
        --gap: #{$gap--xxl};
        --max-width: #{$width-mobile-l};
        --align-items: stretch;
        display: grid;
        grid-template-columns: repeat(var(--col-count), 1fr);
        width: 100%;
        max-width: var(--max-width);
        margin: 0 auto;
        grid-column-gap: var(--gap);
        grid-row-gap: var(--gap);

        @include res-max-mobile-l {
            --gap: #{$gap--xl};
            --content-padding: #{$gap--xl};
        }

        &--col-2 {
            --max-width: none;
            --col-count: 2;

            @include res-max-tablet {
                --col-count: 1;
            }
        }

        &--large {
            --max-width: #{$width-tablet};
        }

        > div {
            align-self: var(--align-items);
            padding: var(--content-padding);
            background-color: $color-white;
            border-radius: $border-radius;
            @include border('def', .1rem);
            @include set-box-shadw;
        }
    }

    &__item {
        --star-display: none;
        --text-box-border-color: #{$color-border};
        position: relative;
        display: grid;
        grid-gap: #{$gap--s};

        &--required {
            --star-display: inline-block;
        }

        &--error {
            --text-box-border-color: #{$color-error};
        }

        &--span-2 {
            grid-column-end: span 2;
        }

        > * {
            width: 100%;
        }

        > label:not([class]) {
            display: inline-flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: flex-start;
            font-family: $font-text;
            font-size: medium;
            color: var(--label-color);

            &:after {
                display: var(--star-display);
                content: "*";
                margin-left: $gap--s;
                font-size: 1em;
                color: $color-error;
            }

            > svg {
                width: $gap--l;
                min-width: $gap--l;
                height: $gap--l;
                margin-right: $gap--m;
                fill: $color-disabled;
            }
        }

        > input, > select, > textarea {
            display: block;
            width: 100%;
            border-color: var(--text-box-border-color);
        }
    }

    &__logo {
        > img {
            display: block;
            width: 100%;
            max-width: 18rem;
            margin: 0 auto;
        }
    }

    &__link {
        position: absolute;
        top: 100%;
        right: 0;
        padding-top: $gap--xs;
        font-size: small;
        text-align: right;
        z-index: 10;

        * {
            font-size: 1em;
        }
    }

    &__error-message {
        position: absolute;
        top: 100%;
        left: 0;
        padding-top: $gap--xs;
        font-size: small;
        color: $color-error;
    }

    &__button-container {
        padding-top: $gap--xl;
        text-align: center;
    }
}
