@import "../base/global";

header {
    position: relative;
    display: grid;
    place-items: center;
    block-size: 100dvh;
    text-align: center;

    
}

.header{
    &__container{
        > h1{
            margin: 0;
            font-size: 8em;
        }

        >span{
            font-size: 5em;
        }
    }
}


#map{
    block-size: 50vh;
}