@import "../base/global";

header {
    position: relative;
    display: grid;
    place-items: center;
    block-size: 100dvh;
    background-color: $color-secondary;
    text-align: center;

    >b {
        position: absolute;
        bottom: 5dvb;
        left: 50%;
        font-size: 2.5dvb;
        color: $color-white;
        translate: -50%;
    }
}

.header {
    &__container {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        row-gap: $gap--xl;
        color: $color-white;

        >strong {
            display: block;
            font-family: var(--font-title);
            font-size: clamp(2rem, 30dvb, var(--max-font-size, 15rem));

            @include res-max-laptop-s {
                --max-font-size: 10rem;
            }

            @include res-max-mobile-l {
                --max-font-size: 4rem;
            }
        }

        >span {
            font-size: clamp(1.5rem, 10dvb, 5em);
            font-weight: 300;

            @include res-max-mobile-l {
                font-size: clamp(1.5rem, 10dvb, 2.5em);
            }
        }
    }

    &__anim {
        position: fixed;
        inset: 0;
        margin: 0;
        background-color: $color-white;
        font-family: var(--font-title);
        font-weight: 500;
        animation: circle-close 1.5s forwards 1s linear, display-none 0 forwards 3s;
        z-index: 2;

        >span {
            @include center-item;
            font-size: clamp(2rem, 30dvb, var(--max-font-size, 20rem));
            color: $color-secondary;
            text-transform: uppercase;
            animation: show-content .5s forwards;
            visibility: hidden;

            @include res-max-laptop-s {
                --max-font-size: 10rem;
            }

            @include res-max-mobile-l {
                --max-font-size: 6rem;
            }

            &:nth-of-type(2) {
                animation-delay: .5s;
            }

            &:nth-of-type(3) {
                animation-delay: 1s;
            }
        }
    }
}

@keyframes show-content {
    from {
        visibility: visible;
    }

    to {
        visibility: hidden;
    }
}

@keyframes display-none {
    to {
        display: none;
    }
}

@keyframes circle-close {
    from {
        clip-path: circle(100% at 50% 50%);
    }

    to {
        clip-path: circle(0% at 50% 50%);

    }
}

#map {
    block-size: 50vh;
}