:root {
  --color-border: hsla(0, 0%, 70%, 1);
  --border-width: .1rem; }

* {
  box-sizing: border-box; }
  *:focus:not(:focus-visible) {
    outline: none; }

html {
  height: 100%;
  margin: 0;
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  margin: 0;
  font-family: var(--font-text);
  overflow-x: hidden; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

address {
  font-style: normal; }

@keyframes fail {
  0% {
    transform: translateX(0); }
  15% {
    transform: translateX(-0.5rem); }
  30% {
    transform: translateX(0.5rem); }
  45% {
    transform: translateX(-0.5rem); }
  60% {
    transform: translateX(0.5rem); }
  75% {
    transform: translateX(-0.5rem); }
  90% {
    transform: translateX(0.5rem); }
  100% {
    transform: translateX(0); } }

:root {
  --color-border: hsla(0, 0%, 70%, 1);
  --border-width: .1rem; }

body {
  display: flex;
  flex-flow: column wrap;
  padding-top: var(--nav-height); }
  body nav {
    flex: none; }
  body header {
    flex: 0 0 auto;
    width: 100%; }
  body main {
    flex: 1 1 auto;
    width: 100%; }
  body footer {
    flex: 0 0 auto;
    width: 100%; }

:root {
  --nav-height: 5.5rem;
  --anim-type: ease-out; }

*:hover {
  --anim-type: ease-in; }

:root {
  --color-border: hsla(0, 0%, 70%, 1);
  --border-width: .1rem; }

.element-to-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.text-to-center {
  text-align: center; }

.text-to-left {
  text-align: left; }

.text-to-right {
  text-align: right; }

.text-justify {
  text-align: justify; }

.uppercase {
  text-transform: uppercase; }

.base-space {
  display: block;
  width: 100%;
  margin-bottom: 5rem; }
  @media only screen and (max-width: 1024px) {
    .base-space {
      margin-bottom: 3rem; } }

.elipsis-text {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.relative {
  position: relative; }

.no-margin {
  margin: 0 !important; }

.tablet-content {
  display: none; }
  @media only screen and (max-width: 768px) {
    .tablet-content {
      display: block; } }

@media only screen and (max-width: 768px) {
  .no-tablet-content {
    display: none; } }

.mobile-content {
  display: none; }
  @media only screen and (max-width: 425px) {
    .mobile-content {
      display: block; } }

@media only screen and (max-width: 425px) {
  .no-mobile-content {
    display: none; } }

.overflow-hidden {
  overflow: hidden; }

.inline-flex {
  display: inline-flex; }

.inline-block {
  display: inline-block; }

.inline-grid {
  --col-count: 1;
  --col-gap: 1.6rem;
  display: inline-grid;
  grid-template-columns: repeat(var(--col-count), auto);
  grid-column-gap: var(--col-gap); }
  .inline-grid--col-2 {
    --col-count: 2; }
  .inline-grid > * {
    align-self: flex-start; }

:root {
  --color-border: hsla(0, 0%, 70%, 1);
  --border-width: .1rem; }

h1 {
  margin-bottom: 2.4rem;
  font-size: xx-large; }

h2 {
  margin-bottom: 1.6rem;
  font-size: x-large; }

h3 {
  font-size: large; }

h4 {
  font-size: medium; }

h5 {
  font-size: small; }

h6 {
  font-size: x-small; }

span, a {
  font-family: "Open Sans", sans-serif;
  font-size: medium; }
  @media only screen and (max-width: 425px) {
    span, a {
      font-size: small; } }

p {
  font-family: "Open Sans", sans-serif;
  font-size: medium; }

small {
  font-family: "Open Sans", sans-serif;
  font-size: x-small; }

.title {
  --title-margin-botton: 3.2rem;
  --title-font-size: xx-large;
  --title-color: black;
  margin-top: 0;
  margin-bottom: var(--title-margin-botton);
  font-family: "Open Sans", sans-serif;
  font-size: var(--title-font-size);
  font-weight: 400;
  color: var(--title-color);
  text-align: left; }
  @media only screen and (max-width: 768px) {
    .title {
      --title-margin-botton: 2.4rem;
      --title-font-size: x-large; } }
  @media only screen and (max-width: 425px) {
    .title {
      --title-margin-botton: 1.6rem; } }
  .title > span, .title > strong {
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: var(--title-color); }
  .title--medium {
    --title-font-size: x-large; }
    @media only screen and (max-width: 768px) {
      .title--medium {
        --title-font-size: large; } }
  .title--small {
    --title-font-size: large;
    --title-margin-botton: 1.6rem; }
  .title--small-mg {
    --title-margin-botton: 1.6rem; }
  .title--white {
    --title-color: white; }
  .title--center {
    text-align: center; }

.desc {
  --desc-font-size: large;
  --desc-margin-bottom: 4.8rem;
  --desc-color: black;
  margin: 0;
  margin-bottom: var(--desc-margin-bottom);
  font-family: "Open Sans", sans-serif;
  font-size: var(--desc-font-size);
  line-height: 1.5;
  color: var(--desc-color); }
  @media only screen and (max-width: 1024px) {
    .desc {
      --desc-margin-bottom: 3.2rem; } }
  @media only screen and (max-width: 768px) {
    .desc {
      --desc-margin-bottom: 2.4rem; } }
  @media only screen and (max-width: 425px) {
    .desc {
      --desc-margin-bottom: 1.6rem;
      --desc-font-size: medium; } }
  .desc--white {
    --desc-color: white; }
  .desc--small {
    --desc-font-size: medium; }
    @media only screen and (max-width: 425px) {
      .desc--small {
        --desc-font-size: small; } }
  .desc--small-mg {
    --desc-margin-bottom: 3.2rem; }
    @media only screen and (max-width: 1024px) {
      .desc--small-mg {
        --desc-margin-bottom: 1.6rem; } }
  .desc--small-mg {
    --desc-margin-bottom: 2.4rem; }
  .desc--center {
    text-align: center; }

:root {
  --color-border: hsla(0, 0%, 70%, 1);
  --border-width: .1rem; }

.alert {
  --alert-close-width: 3.2rem;
  --alert-color: #78c266;
  --alert-bg-color: white;
  --alert-padding: 0.8rem 2.4rem;
  --alert-message-font-size: medium;
  position: fixed;
  top: var(--nav-height);
  right: 0;
  left: 0;
  display: grid;
  grid-template-columns: auto var(--alert-close-width);
  padding: var(--alert-padding);
  background-color: var(--alert-bg-color);
  color: black;
  z-index: 99999;
  grid-column-gap: 1.6rem;
  box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.3);
  border: 0.1rem solid var(--alert-color); }
  @media only screen and (max-width: 768px) {
    .alert {
      --alert-message-font-stze: small;
      --alert-padding: 0.8rem 1.6rem; } }
  .alert--info {
    --alert-color: #3396ff;
    --alert-bg-color: #cce5ff; }
  .alert--success {
    --alert-color: #519d3f;
    --alert-bg-color: #dff0db; }
  .alert--warning {
    --alert-color: #e6ac00;
    --alert-bg-color: #fff2cc; }
  .alert--danger {
    --alert-color: #af1d1d;
    --alert-bg-color: #f8d3d3; }
  .alert__message {
    margin: 0;
    font-size: var(--alert-message-font-size);
    color: var(--alert-color); }
  .alert__close {
    --shadow-alpha: .15;
    background-color: var(--alert-color);
    border-width: 0;
    border-radius: 0.4rem;
    transition: box-shadow 0.25s var(--anim-type);
    cursor: pointer;
    box-shadow: 2px 2px 4px 0px hsla(0, 0%, 0%, var(--shadow-alpha)); }
    .alert__close:hover {
      --shadow-alpha: .3; }
    .alert__close > .icon {
      margin: 0 auto;
      fill: white; }

:root {
  --color-border: hsla(0, 0%, 70%, 1);
  --border-width: .1rem; }

.icon {
  --icon-size: 1.6rem;
  display: block;
  width: var(--icon-size);
  min-width: var(--icon-size);
  height: var(--icon-size); }

:root {
  --color-border: hsla(0, 0%, 70%, 1);
  --border-width: .1rem; }

.logo {
  display: block;
  height: 2.4rem; }
  .logo > svg, .logo > img {
    display: block;
    height: 100%; }

:root {
  --color-border: hsla(0, 0%, 70%, 1);
  --border-width: .1rem; }

.button-container {
  display: inline-grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  justify-content: flex-start;
  grid-gap: 1.6rem; }

:root {
  --color-border: hsla(0, 0%, 70%, 1);
  --border-width: .1rem; }

.container, .footer__container {
  width: 80%;
  max-width: 1440px;
  margin: 0 auto; }
  @media only screen and (max-width: 1440px) {
    .container, .footer__container {
      width: 80%; } }
  @media only screen and (max-width: 1024px) {
    .container, .footer__container {
      width: 100%;
      padding: 0 3.2rem; } }
  @media only screen and (max-width: 768px) {
    .container, .footer__container {
      padding: 0 2.4rem; } }
  @media only screen and (max-width: 425px) {
    .container, .footer__container {
      padding: 0 1.6rem; } }
  .container--small {
    width: 60%;
    max-width: 1440px; }
    @media only screen and (max-width: 1440px) {
      .container--small {
        width: 80%; } }
    @media only screen and (max-width: 1024px) {
      .container--small {
        width: 100%;
        padding: 0 3.2rem; } }
    @media only screen and (max-width: 768px) {
      .container--small {
        padding: 0 2.4rem; } }
    @media only screen and (max-width: 425px) {
      .container--small {
        padding: 0 1.6rem; } }

:root {
  --color-border: hsla(0, 0%, 70%, 1);
  --border-width: .1rem; }

.grid-container {
  --align-items: flex-start;
  --gap: 5rem;
  --col-count: 1;
  display: grid;
  grid-template-columns: repeat(var(--col-count), 1fr);
  grid-column-gap: var(--gap);
  grid-row-gap: var(--gap); }
  @media only screen and (max-width: 1024px) {
    .grid-container {
      --gap: 3.2rem; } }
  @media only screen and (max-width: 425px) {
    .grid-container {
      --gap: 2.4rem; } }
  @media only screen and (max-width: 320px) {
    .grid-container {
      --gap: 1.6rem; } }
  .grid-container > * {
    align-self: var(--align-items); }
  .grid-container--col-2 {
    --col-count: 2; }
    @media only screen and (max-width: 768px) {
      .grid-container--col-2 {
        --col-count: 1; } }
  @media only screen and (max-width: 1024px) {
    .grid-container--col-3 {
      --col-count: 2; } }
  @media only screen and (max-width: 425px) {
    .grid-container--col-3 {
      --col-count: 1; } }
  .grid-container--stretch {
    --align-items: stretch; }
  .grid-container--small-gap {
    --gap: 3.2rem; }
    @media only screen and (max-width: 1440px) {
      .grid-container--small-gap {
        --gap: 2.4rem; } }
    @media only screen and (max-width: 425px) {
      .grid-container--small-gap {
        --gap: 1.6rem; } }

:root {
  --color-border: hsla(0, 0%, 70%, 1);
  --border-width: .1rem; }

.sec {
  --sec-padding: 5.6rem 0;
  scroll-margin-top: var(--nav-height);
  padding: var(--sec-padding);
  background: var(--section-bg); }
  @media only screen and (max-width: 1024px) {
    .sec {
      --sec-padding: 3.2rem 0; } }
  .sec--pad-large {
    --sec-padding: 10rem 0; }
    @media only screen and (max-width: 1360px) {
      .sec--pad-large {
        --sec-padding: 5.6rem 0; } }
    @media only screen and (max-width: 768px) {
      .sec--pad-large {
        --sec-padding: 3.2rem 0; } }
  .sec--pad-top {
    padding-bottom: 0; }
  .sec--pad-bottom {
    padding-top: 0; }
  .sec--white {
    --section-bg: white; }
  .sec--transparent {
    --section-bg: rgba(0, 0, 0, 0); }
  .sec--fill {
    min-height: calc(100vh - var(--nav-height)); }

:root {
  --color-border: hsla(0, 0%, 70%, 1);
  --border-width: .1rem; }

.button {
  --shadow-alpha: .3;
  --button-min-width: 18rem;
  --button-border-width: .2rem;
  --button-background: #78c266;
  --button-color: white;
  --button-border-color: #78c266;
  --button-padding: 0.8rem 1.6rem;
  --button-font-size: medium;
  --button-cursor: pointer;
  --button-outline: none;
  --loading-icon-url: url("../../images/icons/button-loader.svg"); }
  @media only screen and (max-width: 1024px) {
    .button {
      --button-min-width: 10rem;
      --button-padding: 0.8rem;
      --button-font-size: medium
    ; } }
  @media only screen and (max-width: 768px) {
    .button {
      --button-border-width: 1px;
      --button-padding: 0.4rem 0.8rem;
      --button-font-size: small
    ; } }
  .button[disabled] {
    --shadow-alpha: 0;
    --button-color: black;
    --button-border-color: #e6e6e6;
    --button-background: #e6e6e6;
    --button-cursor: not-allowed; }
    .button[disabled]:hover {
      --shadow-alpha: 0; }
  .button--secondary {
    --button-color: white;
    --button-border-color: #2a2c2a;
    --button-background: #2a2c2a;
    --loading-icon-url: url("../../images/icons/button-loader-secondary.svg"); }
  .button--white {
    --button-color: black;
    --button-border-color: white;
    --button-background: white; }
  .button--small {
    --button-min-width: 8rem;
    --button-padding: 0.4rem 0.8rem;
    --button-font-size: small;
    --button-border-width: .1rem; }
    @media only screen and (max-width: 1024px) {
      .button--small {
        --button-padding: 0.4rem; } }
  .button--icon {
    --button-min-width: 3rem;
    --button-padding: 0.4rem;
    --button-font-size: small; }
  .button--auto {
    --button-min-width: 0; }
  .button--loading {
    --button-color: rgba(0, 0, 0, 0); }
  .button--delete {
    --button-color: #af1d1d;
    --button-border-color: #af1d1d;
    --button-background: rgba(0, 0, 0, 0); }
    @media only screen and (max-width: 425px) {
      .button--delete {
        --button-min-width: 3rem; } }

.button {
  border: var(--button-border-width) solid var(--button-border-color);
  box-shadow: 2px 2px 4px 0px hsla(0, 0%, 0%, var(--shadow-alpha));
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: auto;
  min-width: var(--button-min-width);
  padding: var(--button-padding);
  background-color: var(--button-background);
  border-radius: 0.4rem;
  font-family: "Open Sans", sans-serif;
  font-size: var(--button-font-size);
  color: var(--button-color);
  text-align: center;
  text-decoration: none;
  text-decoration: none;
  transition: color 0.25s var(--anim-type), border-color 0.25s var(--anim-type), background-color 0.25s var(--anim-type), box-shadow 0.25s var(--anim-type);
  cursor: var(--button-cursor); }
  .button:focus:not(:focus-visible) {
    outline: var(--button-outline); }
  .button[disabled]:focus {
    outline: var(--button-outline); }
  .button > span, .button > * {
    font-family: inherit; }
  .button > .icon {
    margin-left: 0.8rem;
    fill: var(--button-color);
    stroke: var(--button-color); }
  .button > img {
    display: block;
    width: 1.6rem;
    min-width: 1.6rem;
    height: 1.6rem;
    margin-right: 0.8rem; }
  .button:hover {
    --shadow-alpha: .6; }
    .button:hover > .icon {
      transition: fill 0.25s ease-in-out; }
  .button--auto {
    width: auto;
    max-width: none; }
  .button--loading {
    position: relative; }
    .button--loading:before {
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      content: "";
      width: 90%;
      height: 90%;
      background-image: var(--loading-icon-url);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 33%;
      transform: translate(-50%, -50%);
      z-index: 10; }
  .button--fail {
    animation: fail 0.25s forwards;
    transform: translateX(0); }
  @media only screen and (max-width: 425px) {
    .button--delete > .icon {
      margin-left: 0; } }
  @media only screen and (max-width: 425px) {
    .button--delete > span {
      display: none; } }

/**/
.show-password {
  position: relative;
  display: block;
  background-color: rgba(0, 0, 0, 0);
  border-width: 0;
  cursor: pointer; }
  .show-password > .icon {
    transition: fill 0.25s var(--anim-type);
    fill: #2a2c2a;
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    @media only screen and (max-width: 768px) {
      .show-password > .icon {
        transition-duration: 0s; } }
    .show-password > .icon:first-child {
      display: block; }
    .show-password > .icon:last-child {
      display: none; }
  .show-password:hover > .icon {
    fill: black; }
  .show-password--visible > .icon:first-child {
    display: none; }
  .show-password--visible > .icon:last-child {
    display: block; }

:root {
  --color-border: hsla(0, 0%, 70%, 1);
  --border-width: .1rem; }

.checkbox, .radio-button {
  display: inline-grid;
  grid-template-columns: repeat(2, auto);
  align-items: flex-start;
  justify-content: flex-start;
  grid-column-gap: 0.8rem; }
  .checkbox input[type="radio"], .checkbox input[type="checkbox"], .radio-button input[type="radio"], .radio-button input[type="checkbox"] {
    width: 1.6rem;
    height: 1.6rem;
    border: var(--border-width) solid var(--color-border);
    margin: .2rem 0 0 0; }
    .checkbox input[type="radio"][disabled], .checkbox input[type="radio"][disabled] + *, .checkbox input[type="checkbox"][disabled], .checkbox input[type="checkbox"][disabled] + *, .radio-button input[type="radio"][disabled], .radio-button input[type="radio"][disabled] + *, .radio-button input[type="checkbox"][disabled], .radio-button input[type="checkbox"][disabled] + * {
      cursor: not-allowed; }
  .checkbox > label, .checkbox > span, .radio-button > label, .radio-button > span {
    text-align: left; }

:root {
  --color-border: hsla(0, 0%, 70%, 1);
  --border-width: .1rem; }

textarea, .textarea {
  max-height: 50rem;
  -webkit-appearance: none;
  resize: vertical; }

.text-box__password-container {
  display: grid;
  grid-template-columns: auto 3.2rem;
  align-items: stretch;
  border-radius: 0.4rem;
  border: var(--border-width) solid var(--color-border); }
  .text-box__password-container:focus-within {
    outline: -webkit-focus-ring-color auto 0.1rem; }
  .text-box__password-container .text-box {
    border-width: 0; }
    .text-box__password-container .text-box:focus {
      outline: none; }

.text-box, .combo-box {
  padding: 0.4rem 0.8rem;
  border-radius: 0.4rem;
  font-family: "Open Sans", sans-serif;
  font-size: medium;
  color: black;
  -webkit-appearance: none;
  font-style: normal;
  border: var(--border-width) solid var(--color-border); }

textarea.text-box {
  max-height: 320px; }

:root {
  --color-border: hsla(0, 0%, 70%, 1);
  --border-width: .1rem; }

.link {
  --color-link: #78c266; }
  .link:hover {
    --color-link: #519d3f; }
  .link--white {
    --color-link: white; }
    .link--white:hover {
      --color-link: white; }
  .link--black {
    --color-link: black; }
    .link--black:hover {
      --color-link: black; }
  .link--copy {
    --color-link: #2a2c2a; }
    .link--copy:hover {
      --color-link: #2a2c2a; }

.link {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  font-size: medium;
  color: var(--color-link);
  text-decoration: underline;
  transition: color 0.25s var(--anim-type); }
  .link > .icon {
    margin-right: 0.4rem;
    transition: fill 0.25s var(--anim-type);
    fill: var(--color-link); }
  .link--right > .icon {
    margin-right: 0;
    margin-left: 0.4rem; }

:root {
  --color-border: hsla(0, 0%, 70%, 1);
  --border-width: .1rem; }

:root {
  --color-border: hsla(0, 0%, 70%, 1);
  --border-width: .1rem; }

.form {
  --col-count: 1;
  --label-color: black;
  --gap: 3.2rem;
  --form-width: 35rem;
  display: grid;
  grid-template-columns: repeat(var(--col-count), 1fr);
  width: 100%;
  max-width: var(--form-width);
  margin: 0 auto;
  grid-column-gap: var(--gap);
  grid-row-gap: var(--gap); }
  .form--col-2 {
    --form-width: 768px;
    --col-count: 2; }
  .form--full-width {
    --form-width: none; }
  .form__container {
    --col-count: 1;
    --content-padding: 3.2rem;
    --gap: 3.2rem;
    --max-width: 425px;
    --align-items: stretch;
    display: grid;
    grid-template-columns: repeat(var(--col-count), 1fr);
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
    grid-column-gap: var(--gap);
    grid-row-gap: var(--gap); }
    @media only screen and (max-width: 425px) {
      .form__container {
        --gap: 2.4rem;
        --content-padding: 2.4rem; } }
    .form__container--col-2 {
      --max-width: none;
      --col-count: 2; }
      @media only screen and (max-width: 768px) {
        .form__container--col-2 {
          --col-count: 1; } }
    .form__container--large {
      --max-width: 768px; }
    .form__container > div {
      align-self: var(--align-items);
      padding: var(--content-padding);
      background-color: white;
      border-radius: 0.4rem;
      border: 0.1rem solid var(--color-border);
      box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.3); }
  .form__item {
    --star-display: none;
    --text-box-border-color: #b3b3b3;
    position: relative;
    display: grid;
    grid-gap: 0.4rem; }
    .form__item--required {
      --star-display: inline-block; }
    .form__item--error {
      --text-box-border-color: #af1d1d; }
    .form__item--span-2 {
      grid-column-end: span 2; }
    .form__item > * {
      width: 100%; }
    .form__item > label:not([class]) {
      display: inline-flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: flex-start;
      font-family: "Open Sans", sans-serif;
      font-size: medium;
      color: var(--label-color); }
      .form__item > label:not([class]):after {
        display: var(--star-display);
        content: "*";
        margin-left: 0.4rem;
        font-size: 1em;
        color: #af1d1d; }
      .form__item > label:not([class]) > svg {
        width: 1.6rem;
        min-width: 1.6rem;
        height: 1.6rem;
        margin-right: 0.8rem;
        fill: #e6e6e6; }
    .form__item > input, .form__item > select, .form__item > textarea {
      display: block;
      width: 100%;
      border-color: var(--text-box-border-color); }
  .form__logo > img {
    display: block;
    width: 100%;
    max-width: 18rem;
    margin: 0 auto; }
  .form__link {
    position: absolute;
    top: 100%;
    right: 0;
    padding-top: 0.2rem;
    font-size: small;
    text-align: right;
    z-index: 10; }
    .form__link * {
      font-size: 1em; }
  .form__error-message {
    position: absolute;
    top: 100%;
    left: 0;
    padding-top: 0.2rem;
    font-size: small;
    color: #af1d1d; }
  .form__button-container {
    padding-top: 2.4rem;
    text-align: center; }

:root {
  --color-border: hsla(0, 0%, 70%, 1);
  --border-width: .1rem; }

header {
  padding: 3.2rem; }

:root {
  --color-border: hsla(0, 0%, 70%, 1);
  --border-width: .1rem; }

.modal {
  --modal-width: 425px;
  --modal-padding: 3.2rem;
  top: 40%;
  width: 100%;
  max-width: var(--modal-width);
  background-color: white;
  border-radius: 0.4rem;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  @media only screen and (max-width: 768px) {
    .modal {
      --modal-padding: 2.4rem; } }
  @media only screen and (max-width: 425px) {
    .modal {
      --modal-width: calc(100% - 2.4rem);
      --modal-padding: 1.6rem; } }
  .modal--larger {
    --modal-width: 768px;
    top: 15vh;
    transform: translate(-50%, 0); }
    @media only screen and (max-width: 768px) {
      .modal--larger {
        --modal-width: calc(100% - 2.4rem);
        top: 10vh; } }
  .modal__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99999; }
  .modal__close {
    --icon-color: #2a2c2a;
    background-color: rgba(0, 0, 0, 0);
    border-width: 0;
    cursor: pointer; }
    .modal__close > .icon {
      --icon-size: 2.4rem;
      transition: fill 0.25s var(--anim-type);
      fill: var(--icon-color);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .modal__close:hover, .modal__close:focus {
      --icon-color: #78c266; }
  .modal__header {
    padding: var(--modal-padding);
    padding-bottom: 0; }
    @media only screen and (max-width: 425px) {
      .modal__header .title {
        padding-right: 1.6rem; } }
    .modal__header button {
      position: absolute;
      top: 0.8rem;
      right: 0.8rem;
      display: block;
      width: 2.4rem;
      height: 2.4rem; }
  .modal__content {
    max-height: 60vh;
    padding: 0 var(--modal-padding);
    overflow: auto; }
  .modal__footer {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    padding: var(--modal-padding); }
    @media only screen and (max-width: 425px) {
      .modal__footer {
        justify-content: center; } }
    .modal__footer--space-between {
      justify-content: space-between; }

:root {
  --color-border: hsla(0, 0%, 70%, 1);
  --border-width: .1rem; }

.burger {
  position: relative;
  display: none;
  width: 3.5rem;
  height: 2.5rem;
  margin-left: 3.2rem;
  background-color: rgba(0, 0, 0, 0);
  border-width: 0;
  cursor: pointer; }
  @media only screen and (max-width: 1024px) {
    .burger {
      display: block; } }
  @media only screen and (max-width: 768px) {
    .burger {
      margin-left: 2.4rem; } }
  @media only screen and (max-width: 425px) {
    .burger {
      margin-left: 1.6rem; } }
  .burger > span {
    position: absolute;
    left: 50%;
    display: block;
    width: 100%;
    height: .3rem;
    background: white; }
    .burger > span:nth-child(1) {
      top: 0;
      transform: rotate(0deg) translate(-50%, 0);
      transition: transform 0.25s ease-in-out; }
    .burger > span:nth-child(2) {
      top: 50%;
      opacity: 1;
      transform: translate(-50%, -50%) scale(1, 1);
      transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out; }
    .burger > span:nth-child(3) {
      top: 100%;
      transform: rotate(0deg) translate(-50%, -100%);
      transition: transform 0.25s ease-in-out; }
  .burger--open > span:nth-child(1) {
    transform: rotate(45deg) translate(-8%, 2rem); }
  .burger--open > span:nth-child(2) {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0, 1); }
  .burger--open > span:nth-child(3) {
    transform: rotate(-45deg) translate(-8%, -2rem); }

:root {
  --color-border: hsla(0, 0%, 70%, 1);
  --border-width: .1rem; }

.lang-switch {
  --lang-font-size: medium;
  --lang-margin-left: 3.2rem;
  --lang-color: white;
  --lang-text-decoration: none;
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
  margin-left: var(--lang-margin-left);
  font-family: "Open Sans", sans-serif;
  font-size: var(--lang-font-size);
  color: var(--lang-color); }
  @media only screen and (max-width: 768px) {
    .lang-switch {
      --lang-font-size: small;
      --lang-margin-left: 2.4rem; } }
  @media only screen and (max-width: 425px) {
    .lang-switch {
      --lang-margin-left: 1.6rem; } }
  .lang-switch--en > a:first-of-type {
    --lang-color: #78c266;
    --lang-text-decoration: underlne; }
  .lang-switch--cs > a:last-of-type {
    --lang-color: #78c266;
    --lang-text-decoration: underlne; }
  .lang-switch__item {
    font-family: inherit;
    font-size: var(--lang-font-size);
    color: var(--lang-color);
    text-decoration: var(--lang-text-decoration);
    transition: color "Open Sans", sans-serif var(--anim-type); }
    .lang-switch__item:hover {
      --lang-text-decoration: underlne; }

:root {
  --color-border: hsla(0, 0%, 70%, 1);
  --border-width: .1rem; }

.nav {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: var(--nav-height);
  background-color: #2a2c2a;
  z-index: 9999; }
  .nav__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 5rem; }
    @media only screen and (max-width: 1440px) {
      .nav__container {
        padding: 0 3.2rem; } }
    @media only screen and (max-width: 1360px) {
      .nav__container {
        padding: 0 2.4rem; } }
    @media only screen and (max-width: 1024px) {
      .nav__container {
        padding: 0 1.6rem; } }
    .nav__container .button {
      margin-left: 3.2rem; }
      @media only screen and (max-width: 1440px) {
        .nav__container .button {
          margin-left: 0; } }
    @media only screen and (max-width: 1440px) {
      .nav__container li > .button {
        margin-top: 1.6rem;
        margin-left: 0; } }
  .nav__menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style: none; }
    @media only screen and (max-width: 1024px) {
      .nav__menu {
        position: absolute;
        top: 100%;
        left: 0;
        flex-flow: column wrap;
        align-items: stretch;
        justify-content: flex-start;
        width: 100%;
        height: 100vh;
        padding: 1.6rem;
        padding-top: 0;
        background-color: white;
        transform: translateX(100%);
        transition: transform 0.25s var(--anim-type); } }
    .nav__menu--open {
      --anim-type: ease-in; }
      @media only screen and (max-width: 1024px) {
        .nav__menu--open {
          transform: translateX(0); } }
  .nav__right {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end; }
  .nav__item {
    position: relative;
    display: block;
    height: var(--nav-height);
    padding: 0 2.4rem;
    font-size: medium;
    line-height: var(--nav-height);
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.25s var(--anim-type); }
    .nav__item:hover {
      color: #78c266; }
      @media only screen and (max-width: 1024px) {
        .nav__item:hover {
          color: black; } }
    .nav__item--active {
      color: #78c266; }
      @media only screen and (max-width: 1024px) {
        .nav__item--active {
          font-weight: bold;
          color: black; } }
      .nav__item--active:after {
        background-color: #78c266; }
    .nav__item[disabled] {
      color: #2a2c2a;
      cursor: not-allowed; }
      @media only screen and (max-width: 1024px) {
        .nav__item[disabled] {
          color: #2a2c2a; } }

/*# sourceMappingURL=style.css.map */