@use '../base/mixins/index' as *;
@use '../base/variables/index' as *;

@mixin create-form{

    iframe {
        display: block;
        inline-size: 100%;
        max-inline-size: $width-tablet;
        block-size: 1050px;
        margin-inline: auto;
        filter: var(--_form-filter);
        transition: filter $trans-time $trans-fnc;
    }
}