@use '../base/mixins/index' as *;
@use '../base/variables/index' as *;

@mixin create-header {
    header {
        --header-img_size: 70dvb;
        position: relative;
        display: grid;
        place-items: center;
        block-size: 100dvb;

        @include mq-responsive('desktop-s', max) {
            --header-img_size: 50dvi;
        }

        @include mq-responsive('tablet', max) {
            --header-img_size: 70dvi;
        }

        @include mq-responsive('mobile-xl', max) {
            --header-img_size: clamp(calc(#{$width-mobile-s} / 2), 80dvi, #{$width-mobile-l});
        }
    }

    .header {

        &__container {
            --header-container_gap: 5dvb;
            @include flex-set(flex, column, nowrap, var(--header-container_gap), center, flex-end);
            position: relative;
            inline-size: calc(100% - var(--container_padding-x, 0));
            margin-inline: auto;
            background-color: $color-white;
            color: $color-secondary;
            text-align: center;
            // animation: circle-show 1.5s forwards 2s linear;
            z-index: 2;

            // clip-path: circle(0% at 50% 50%);
            @include mq-responsive('tablet', max) {
                --header-container_pad-bottom: clamp(5rem, 14dvb, 10rem);
                --container_padding-x: #{$gap-xl};
            }

            @include mq-responsive('mobile-l', max) {
                --container_padding-x: #{$gap-l};
            }

            >h1 {
                position: relative;
                display: block;
                margin: 0;
                font-family: var(--font-title);
                font-size: clamp($gap-l, var(--font-size, 10dvi), var(--max-font-size, 12.5rem));
                color: $color-white;
                white-space: nowrap;
                translate: 0 calc(var(--header-img_size) / 3.5);
                backgdrop-filter: blur(10px);
                pointer-events: none;
                -webkit-text-stroke: clamp($border-width, .5dvi, $gap-xs) $color-secondary;

                @include mq-responsive('tablet', max) {
                    --font-size: 10dvb;
                    --max-font-size: 6rem;
                    translate: 0 calc(var(--header-img_size) / 3);
                }

                @include mq-responsive('mobile-xl', max) {
                    --font-size: 7dvb;
                    --max-font-size: 4rem;
                    translate: 0 calc(var(--header-img_size) / 2.5);
                }

                @include mq-responsive('mobile-l', max) {
                    translate: 0 calc(var(--header-img_size) / 2.5);
                }

                @include mq-responsive('mobile-m', max) {
                    --font-size: 8dvb;
                    --max-font-size: 3.2rem;
                    translate: 0 calc(var(--header-img_size) / 2.5);
                }
            }

            >span {
                font-family: var(--font-text);
                font-size: clamp($gap-l, 4em, $gap-2xl);
                font-weight: 300;
                translate: 0 calc(var(--header-img_size) / 2.6);

                @include mq-responsive('tablet', max) {
                    translate: 0 calc(var(--header-img_size) / 2.2);
                }

                @include mq-responsive('mobile-xl', max) {
                    font-size: clamp($gap-l, 1.7em, $gap-xl);
                    translate: 0 calc(var(--header-img_size) / 2);
                }
            }
        }

        &__img {
            @include border-radius(circle);
            @include center-content(absolute, 45%);
            @include border-set-all(clamp($gap-xs, 2dvi, 1rem), solid, $color-secondary);
            block-size: clamp(200px, var(--header-img_size), $width-desktop-s);
            aspect-ratio: 1;
            background-image: url('../images/kiss.jpg');
            background-position: center 10%;
            background-size: cover;
            opacity: 0;
            // filter: grayscale(100%) brightness(80%);
            transition: filter .5s ease-in-out;
            transition: opacity $trans-time $trans-fnc;

            &:hover {
                // filter: grayscale(0%) brightness(100%);
            }

            &:has(+ .header__img--art:hover) {
                opacity: 1;
            }

            &--art {
                background-image: url('../images/kiss-art.jpg');
                opacity: 1;

                &:hover {
                    opacity: 0;
                }
            }
        }

        &__anim {
            // display: none;
            position: fixed;
            inset: 0;
            margin: 0;
            background-color: $color-white;
            font-family: var(--font-title);
            font-weight: 600;
            animation: display-none 0 forwards 3s;
            z-index: 1;

            >span {
                position: absolute;
                inset: 50% auto auto 50%;
                font-size: clamp(2rem, 30dvb, var(--max-font-size, 15rem));
                color: $color-secondary;
                text-transform: uppercase;
                animation: show-content .5s forwards .5s;
                translate: -50% -50%;
                visibility: hidden;

                @include mq-responsive('desktop-s', max) {
                    --max-font-size: 7rem;
                }

                @include mq-responsive('mobile-l', max) {
                    --max-font-size: 4rem;
                }

                &:nth-of-type(2) {
                    animation-delay: 1s;
                }

                &:nth-of-type(3) {
                    animation-delay: 1.5s;
                }
            }
        }
    }

    @keyframes show-content {
        from {
            visibility: visible;
        }

        to {
            visibility: hidden;
        }
    }

    @keyframes display-none {
        to {
            display: none;
        }
    }

    @keyframes circle-show {
        from {
            clip-path: circle(0% at 50% 50%);
        }

        to {
            clip-path: circle(100% at 50% 50%);
        }
    }

    #map {
        block-size: 50vh;
    }
}