@use '../base/mixins/index' as *;
@use '../base/variables/index' as *;

@mixin create-header {
    header {
        position: relative;
    }

    .header {

        &__container {
            @include flex-set(flex, column, nowrap, 0, center, flex-end);
            position: relative;
            block-size: 100dvb;
            padding-block-end: 10dvb;
            background-color: $color-white;
            color: $color-secondary;
            text-align: center;
            // animation: circle-show 1.5s forwards 2s linear;
            z-index: 2;
            // clip-path: circle(0% at 50% 50%);

            >h1 {
                position: relative;
                display: block;
                margin: 0;
                background-color: $color-white;

                font-family: var(--font-title);
                font-size: clamp(1rem, 35dvb, var(--max-font-size, 9rem));
                color: $color-transparent;
                -webkit-text-stroke: 2px $color-secondary;
                @include padding-set-y(3dvb);

                @include mq-responsive('desktop-s', max) {
                    --max-font-size: 6rem;
                }

                @include mq-responsive('tablet', max) {
                    --max-font-size: 4.5rem;
                }

                @include mq-responsive('mobile-l', max) {
                    --max-font-size: 3rem;
                }

                // &:before{
                //     position: absolute;
                //     inset: 0;
                //     content: attr(data-before);
                //     color: $color-white;
                //     font-size: inherit;
                // }
            }

            >span {
                background-color: $color-white;
                font-family: var(--font-text);
                font-size: 2.2em;
                font-weight: 300;
                translate: 0 -.25em;

                @include mq-responsive('mobile-l', max) {
                    font-size: clamp(1.5rem, 10dvb, 2.5em);
                }
            }

            >b {
                position: absolute;
                bottom: 5dvb;
                left: 50%;
                display: none;
                font-size: 2.5dvb;
                translate: -50%;
            }
        }

        &__img {
            @include border-radius(circle);
            @include center-content(absolute, 45%);
            @include border-set-all($gap-s, solid, $color-secondary);
            block-size: 70dvb;
            aspect-ratio: 1;
            background-image: url('../images/kiss.jpg');
            background-position: center 10%;
            background-size: cover;
            z-index: -1;
        }

        &__anim {
            // display: none;
            position: fixed;
            inset: 0;
            margin: 0;
            background-color: $color-white;
            font-family: var(--font-title);
            font-weight: 600;
            animation: display-none 0 forwards 3s;
            z-index: 1;

            >span {
                position: absolute;
                inset: 50% auto auto 50%;
                font-size: clamp(2rem, 30dvb, var(--max-font-size, 15rem));
                color: $color-secondary;
                text-transform: uppercase;
                animation: show-content .5s forwards .5s;
                translate: -50% -50%;
                visibility: hidden;

                @include mq-responsive('desktop-s', max) {
                    --max-font-size: 7rem;
                }

                @include mq-responsive('mobile-l', max) {
                    --max-font-size: 4rem;
                }

                &:nth-of-type(2) {
                    animation-delay: 1s;
                }

                &:nth-of-type(3) {
                    animation-delay: 1.5s;
                }
            }
        }
    }

    @keyframes show-content {
        from {
            visibility: visible;
        }

        to {
            visibility: hidden;
        }
    }

    @keyframes display-none {
        to {
            display: none;
        }
    }

    @keyframes circle-show {
        from {
            clip-path: circle(0% at 50% 50%);
        }

        to {
            clip-path: circle(100% at 50% 50%);
        }
    }

    #map {
        block-size: 50vh;
    }
}