@use '../base/mixins/index' as *;
@use '../base/variables/index' as *;

@mixin create-map {
    #mapElem {
        position: var(--map_position, absolute);
        inset: var(--map_inset, 0);

        img[alt='Google'],
        .gmnoprint,
        .gm-style-cc {
            display: none;
        }

        .gm-style .gm-style-iw-c {
            padding: 0 !important;
            box-shadow: 0 0 $gap 0 $color-secondary !important;

            button {
                translate: -30% 30%;
                scale: 1.5;
            }

            .gm-ui-hover-effect>span {
                background-color: $color-white !important;
            }
        }
    }

    .map-container {
        position: relative;
        display: grid;
        grid-template-columns: var(--map_grid-columns, minmax($gap-3xl, 8fr) minmax($gap-3xl, 5fr));
        block-size: var(--map-container_block-size, calc(100dvb - 4rem));

        @include mq-responsive('tablet', max) {
            --map_grid-columns: minmax(#{$width-mobile-s}, 1fr);
            --map-container_block-size: 165dvb;
            sctoll-margin-block-start: var(--nav-height);
        }

        @include mq-responsive('mobile-l', max) {
            --map-container_block-size: 150dvb;
        }
    }

    .map {
        &__widnow {
            >img {
                display: block;
                width: 100%;
                object-fit: cover;
            }

            address {
                padding: $gap-m;
                background-color: var(--_bg-color);
                font-family: $font-text;
                font-size: 1rem;
                font-weight: 200;
                line-height: 1.5;
                color: var(--_bg-color);

                >strong {
                    font-size: 1.2em;
                    font-weight: 500;
                }
            }
        }
    }
}