@use '../base/mixins/index' as *;
@use '../base/variables/index' as *;

@mixin create-map {
    #mapElem {
        position: absolute;
        inset: 25% 0 25% 0;

        img[alt='Google'], .gmnoprint, .gm-style-cc{
            display: none;
        }
    }

    .map-container {
        position: relative;
        display: grid;
        grid-template-columns: 8fr 5fr;
        block-size: 200dvb;
        z-index: 10;
    }
}