@use '../base/mixins/index' as *;
@use '../base/variables/index' as *;

@mixin create-map {
    #mapElem {
        position: absolute;
        inset: 25% 0 25% 0;
    }

    .map-container {
        position: relative;
        z-index: 10;
        display: grid;
        grid-template-columns: 8fr 5fr;
        block-size: 200dvb;
        background-color: hsl(0 0% 0% / 10%) !important;
    }
}