@use '../base/mixins/index' as *;
@use '../base/variables/index' as *;

@mixin create-parallax{
      /* Parallax base styles
  --------------------------------------------- */

  .parallax {
    block-size: 100dvb;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 300px;
    perspective-origin-x: 100%;
  }

  .parallax__group {
    position: relative;
    block-size: 100dvb;
    transform-style: preserve-3d;
    &--l{
      block-size: 200dvb;
    }
  }

  .parallax__layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin-x: 100%;
  }

  .parallax__layer--fore {
    transform: translateZ(90px) scale(.7);
    z-index: 1;
    pointer-events: none;
  }

  .parallax__layer--base {
    transform: translateZ(0);
    z-index: 4;
  }

  .parallax__layer--back {
    transform: translateZ(-295px) scale(2);
    z-index: 3;
  }

  .parallax__layer--deep {
    transform: translateZ(-590px) scale(3);
    z-index: 2;
  }


  /* demo styles
  --------------------------------------------- */

  body, html {
    overflow: hidden;
  }

  .parallax {
    font-size: 200%;
  }

   /* centre the content in the parallax layers */
  .title {
    position: absolute;
    top: 85%;
    left: 50%;
    margin: 0;
    font-family: $font-title;
    font-weight: 900;
    line-height: 1;
    letter-spacing: $gap-s;
    color: $color-secondary;
    text-align: center;
    text-transform: uppercase;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    &--l{
        top: 35%;
        font-size: 20dvb;
        text-transform: none;
        white-space: nowrap;
    }
  }


  /* style the groups
  --------------------------------------------- */

  #group1 {
    z-index: 5; /* slide over group 2 */
  }
  #place {
    z-index: 3; /* slide under groups 1 and 3 */
  }

  #group3 {
    z-index: 4; /* slide over group 2 and 4 */
  }

  #group4 {
    z-index: 2; /* slide under group 3 and 5 */
  }

  #group5 {
    z-index: 3; /* slide over group 4 and 6 */
  }
  #group6 {
    z-index: 2; /* slide under group 5 and 7 */
  }

  #group7 {
    z-index: 3; /* slide over group 7 */
  }
}