@use '../base/mixins/index' as *;
@use '../base/variables/index' as *;

@mixin create-qna {

  details>summary::-webkit-details-marker,
  details>summary::-moz-list-bullet,
  details>summary::marker {
    display: none !important;
  }

  details summary::-moz-list-bullet {
    list-style-type: none;
  }

  .qna {
    position: relative;
    background-image: url(/dist/images/backgrounds/sticker.svg);
    background-repeat: no-repeat;
    background-position: var(--qna_bg-pos-x, 90%) var(--qna_bg-pos-y, 50%);
    background-size: var(--qna_background-size, 25%);
    background-attachment: fixed;

    @include mq-responsive('tablet', max) {
      --qna_background-size: 40%;
    }

    @include mq-responsive('mobile-xl', max) {
      --qna_background-size: 65%;
      --qna_bg-pos-x: 60%;
    }

    &__container {
      --qna-container_gap: clamp(#{$gap-xl}, 8dvb, #{$gap-3xl});
      --question-number_size: clamp(#{$gap-xl}, 4dvi, #{$gap-2xl});
      @include flex-set(flex, column, nowrap, var(--qna-container_gap));
      position: relative;

      @include mq-responsive('tablet', max) {
        --question-number_size: clamp(#{$gap-xl}, 4dvi, #{$gap-3xl});
      }
    }

    &__item {
      --question_gap: clamp(#{$gap-m}, 2.5dvi, #{$gap-xl});
      --question-number_font-size: clamp(#{$gap-l}, .5em, #{$gap-2xl});
      --question-number_bg-color: #{$color-secondary};
      --question-number_border-color: #{$color-secondary};
      --question-content_pad-left: calc(var(--question_gap) + var(--question-number_size));
      --qna-item-line_size: 0;
      position: relative;
      counter-increment: questions;

      @include mq-responsive('tablet', max) {
        --question-number_font-size: clamp(#{$gap-m}, .8em, #{$gap-2xl});
      }

      &[open] {
        --question-number_border-color: #{$color-primary};
        --qna-item-line_size: calc(100% + var(--qna-container_gap));
      }

      &:last-of-type {

        &:before,
        &:after {
          display: none;
        }
      }

      &:before,
      &:after {
        position: absolute;
        top: $gap-m;
        left: calc(var(--question-number_size) / 2);
        content: '';
        inline-size: clamp($gap-xs, .5dvi, $gap-s);
        translate: -50%;
      }

      &:before {
        block-size: calc(100% + var(--qna-container_gap));
        background-color: $color-secondary;
        z-index: -2;
      }

      &:after {
        block-size: var(--qna-item-line_size);
        background-color: $color-primary;
        transition: block-size $trans-time ease-in-out;
        z-index: -1;
      }

      >p {
        padding-inline-start: var(--question-content_pad-left);
        font-weight: 300;
        line-height: 1.7;
      }

      >summary {
        --qna-question_text-decoration: none;
        --qna-number_box-shadow-radius: 0;
        @include flex-set(flex, row, nowrap, var(--question_gap), center);
        font-family: var(--font-title);
        font-size: clamp($gap-l, var(--qna-question_font-size, 4dvb), $gap-2xl);
        cursor: pointer;
        list-style: none;
        list-style-type: none;

        @include mq-hover {
          --qna-question_text-decoration: underline;
          --qna-number_box-shadow-radius: #{$gap-m};
        }

        @include mq-responsive('tablet', max) {
          --qna-question_font-size: 4dvi;
        }

        &:before {
          @include border-radius(circle);
          @include border-set-all(clamp($gap-xs, .5dvi, $gap-s), solid, var(--question-number_border-color));
          display: inline-grid;
          content: counter(questions);
          place-items: center;
          block-size: clamp($gap-xl, var(--question-number_size), $gap-3xl);
          aspect-ratio: 1;
          background-color: var(--question-number_bg-color);
          border-collapse: collapse;
          font-family: var(--font-text);
          font-size: var(--question-number_font-size);
          font-weight: 300;
          line-height: 1;
          color: $color-white;
          text-align: center;
          text-decoration: none;
          transition: border-color var(--trans-time) var(--trans-fnc), background-color var(--trans-time) var(--trans-fnc);

          @include mq-responsive('mobile-l', max) {
            font-size: 1.5rem;
          }
        }

        >span {
          text-decoration: var(--qna-question_text-decoration);
        }
      }
    }
  }
}