@use '../base/mixins/index' as *;
@use '../base/variables/index' as *;

@mixin create-section {
    section {
        padding-block: clamp($gap-3xl, var(--section_pad-block, 10dvb), 5rem);

        @include mq-responsive('tablet', max) {
            --section_pad-block: 8dvb;

        }

        @include mq-responsive('mobile', max) {
            --section_pad-block: 5dvb;
        }
    }
}