@use '../base/mixins/index' as *;
@use '../base/variables/index' as *;

@mixin create-section {

    section,
    footer {
        scroll-margin-block-start: 4rem;
        padding-block: clamp($gap-3xl, var(--section_pad-block, 10dvb), 5rem);

        &:has(.map-container) {
            --section_pad-block: 0;
        }

        @include mq-responsive('tablet', max) {
            --section_pad-block: 8dvb;
        }

        @include mq-responsive('mobile-l', max) {
            --section_pad-block: 4dvb;
        }
    }

    section {
        min-block-size: 100dvb;

        &#home {
            --section_pad-block: 0;
            display: grid;
            place-items: center;

            @include mq-responsive('mobile-l', max) {
                --section_pad-block: 4dvb;
                display: block;
            }
        }

        &#place {
            background-color: $color-transparent;
         }
    }
}