@import "../../Base/global";

.burger {
    position: relative;
    display: none;
    width: 3.5rem;
    height: 2.5rem;
    margin-left: $gap--xxl;
    background-color: $color-trans;
    border-width: 0;
    cursor: pointer;

    @include res-max-laptop-s {
        display: block;
    }

    @include res-max-tablet {
        margin-left: $gap--xl;
    }

    @include res-max-mobile-l {
        margin-left: $gap--l;
    }

    > span {
        position: absolute;
        left: 50%;
        display: block;
        width: 100%;
        height: .3rem;
        background: $color-white;

        &:nth-child(1) {
            top: 0;
            transform: rotate(0deg) translate(-50%, 0);
            transition: transform $trans-time ease-in-out;
        }

        &:nth-child(2) {
            top: 50%;
            opacity: 1;
            transform: translate(-50%, -50%) scale(1,1);
            transition: transform $trans-time ease-in-out, opacity $trans-time ease-in-out;
        }

        &:nth-child(3) {
            top: 100%;
            transform: rotate(0deg) translate(-50%, -100%);
            transition: transform $trans-time ease-in-out;
        }
    }

    &--open {
        > span {
            &:nth-child(1) {
                transform: rotate(45deg) translate(-8%,2rem);
            }

            &:nth-child(2) {
                opacity: 0;
                transform: translate(-50%, -50%) scale(0,1);
            }

            &:nth-child(3) {
                transform: rotate(-45deg) translate(-8%,-2rem);
            }
        }
    }
}
