@import "../../Base/global";

.lang-switch {
    --lang-font-size: medium;
    --lang-margin-left: #{$gap--xxl};
    --lang-color: #{$color-white};
    --lang-text-decoration: none;
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    margin-left: var(--lang-margin-left);
    font-family: $font-text;
    font-size: var(--lang-font-size);
    color: var(--lang-color);

    @include res-max-tablet {
        --lang-font-size: small;
        --lang-margin-left: #{$gap--xl};
    }

    @include res-max-mobile-l {
        --lang-margin-left: #{$gap--l};
    }

    &--en > a:first-of-type {
        --lang-color: #{$color-primary};
        --lang-text-decoration: underlne;
    }

    &--cs > a:last-of-type {
        --lang-color: #{$color-primary};
        --lang-text-decoration: underlne;
    }

    &__item {
        font-family: inherit;
        font-size: var(--lang-font-size);
        color: var(--lang-color);
        text-decoration: var(--lang-text-decoration);
        transition: color $font-text var(--anim-type);

        &:hover {
            --lang-text-decoration: underlne;
        }
    }
}
